<div class="p-10">
    <div class="flex justify-between pb-4">
        <h1 class="text-3xl font-medium">Products</h1>

        <button ng-click="logout()" class="p-2 bg-blue-500 rounded-md text-white hover:bg-blue-600">Log out</button>
    </div>

    <!-- LOOP THE DATA -->
    <div class="grid grid-cols-4 gap-x-4 gap-y-8">
        <div ng-repeat="product in products">
            <div class="flex flex-col justify-center items-center bg-gray-100 w-full">
                <div class="bg-white rounded-lg shadow-lg overflow-hidden max-w-lg w-full p-4">
                    <img src={{product.imageUrl}} alt="Mountain" class="w-full h-64 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-bold text-gray-800 mb-2">{{product.name}}</h2>
                        <p class="text-gray-700 leading-tight mb-4">
                            {{ product.description }}
                        </p>
                        <div class="flex justify-between items-center">
                            <div class="flex items-center">
                                <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="Avatar"
                                    class="w-8 h-8 rounded-full mr-2 object-cover">
                                <span class="text-gray-800 font-semibold">John Doe</span>
                            </div>
                            <span class="text-gray-600">${{product.price}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>